@{
    ViewData["Title"] = "Admin Center";
}
<div class="main d-flex">
    <div class="d-flex flex-row">
        @*TODO: add as Razor page element *@
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <i class="fa-solid fa-graduation-cap me-2"></i>
                <span class="fs-4"> @ViewData["Title"]</span>
            </a>
            <hr>
            <ul class="nav navigation-pane nav-pills flex-column mb-auto">
                <li class="nav-item" data-nav-el="allUsers">
                    <a class="nav-link active">
                        <i class="fa-solid fa-users me-2"></i>
                        Users Manager
                    </a>
                </li>
                <li class="nav-item" data-nav-el="addUser">
                    <a class="nav-link link-dark">
                        <i class="fa-solid fa-gear"></i>
                        User manager
                    </a>
                </li>
                <li class="nav-item" data-nav-el="allCourses">
                    <a class="nav-link link-dark">
                        <i class="fa-solid fa-book-open"></i>
                        All Courses
                    </a>
                </li>
                <li class="nav-item" data-nav-el="addCourse">
                    <a class="nav-link link-dark">
                        <i class="fa-solid fa-gear"></i>
                        Course manager
                    </a>
                </li>
                <li class="nav-item" data-nav-el="allPrograms">
                    <a class="nav-link link-dark">
                        <i class="fa-solid fa-layer-group"></i>
                        All Programs
                    </a>
                </li>
                <li class="nav-item" data-nav-el="addProgram">
                    <a class="nav-link link-dark">
                        <i class="fa-solid fa-gear"></i>
                        Program manager
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown" role="button">
                <a class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle cursor-pointer" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user me-2"></i>
                    <div class="js-user-name"></div>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item js-logout-user"><i class="fa-solid fa-arrow-right-from-bracket"></i><span> Sign out</span></button></li>
                </ul>
            </div>
        </div>

        <div class="add-user-container d-none">
            <h1 class="authentication-page__heading"><button class="btn btn-primary js-back-to-user-manager"><i class="fa-regular fa-circle-left"></i></button> 
                Edit User - <span class="js-user-fullname"></span>
                </h1>
            
            <h5 class="authentication-page__message"></h5>

            <div class="d-flex">
                <div class="js-show-user-data col-sm-3">
                </div>
                <div class="col-sm-9 d-flex">

                    <form id="resetPasswordForm" class="me-4">
                        <h3>Reset User Password</h3>
                        <div class="mb-3 d-none">
                            <label for="userId" class="form-label">User ID</label>
                            <input type="text" class="form-control" id="userId" name="userId" placeholder="Enter User ID">
                        </div>
                        <button type="button" class="btn btn-primary js-reset-pass">Reset password</button>
                        <div class="error-message"></div>
                    </form>

                    <form id="changeRolesForm" class="me-4">
                        <h3>Change Role</h3>
                        <div class="mb-3 d-none">
                            <label for="userId" class="form-label">User ID</label>
                            <input type="text" class="form-control" id="userId" name="userId" placeholder="Enter User ID">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select roles:</label>
                            <div>
                                <input type="checkbox" id="Admin" name="roles" value="admin">
                                <label for="admin">admin</label>
                            </div>
                            <div>
                                <input type="checkbox" id="Student" name="roles" value="student">
                                <label for="student">student</label>
                            </div>
                            <div>
                                <input type="checkbox" id="Professor" name="roles" value="professor">
                                <label for="professor">Professor</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary js-change-role">Change Roles</button>
                        <div class="error-message"></div>
                    </form>

                    <form id="editUserForm" class="me-4">
                        <h3>Edit User</h3>
                        <partial name="Partials/_UserForm"></partial>
                        <button type="button" class="btn btn-primary w-100 js-edit-user">Edit User</button>
                        <div class="error-message"></div>
                    </form>

                    <form id="deleteUserForm" class="me-4">
                        <div class="d-none">
                            <h3>Delete User</h3>
                            <div class="mb-3">
                                <label for="userId" class="form-label">User ID</label>
                                <input type="text" class="form-control" id="userId" name="userId" placeholder="Enter User ID">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger js-delete-user">Delete User</button>
                        <div class="error-message"></div>
                    </form>
                    
                </div>
            </div>
            
        </div>
        
        <div class="user-table">                        
            <h2>Users Manager</h2>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <form id="registerForm" class="me-4">
                        <h4>Add New User</h4>
                        <partial name="Partials/_UserForm"></partial>
                        <button type="button" class="btn btn-primary btn-lg w-100 js-add-user"><i class="fa-solid fa-plus me-2"></i> Add User</button>
                        <div class="error-message"></div>
                    </form>
                </div>
                <div class="col-sm-9">
                    <div class="d-flex">
                        <div class="me-5">
                            <h4>Assign Users to Course</h4>
                            <div class="d-flex mb-2">
                                <div class="d-flex flex-column me-2">
                                    <span class="mb-2">Select course: </span>
                                    <div class="js-dd-courses">
                                        <select class="form-select d-flex align-items-center cursor-pointer js-course-dd-selected-value me-2" id="courseDropdown" aria-expanded="false">
                                            <option> </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="js-select-role-to-course d-flex flex-column me-2">
                                    <span class="mb-2">Select role: </span>
                                    <div class="d-flex column js-select-role-to-course">
                                        <select class="form-select d-flex align-items-center cursor-pointer js-select-role-to-course me-2" aria-expanded="false">
                                            <option value=""> </option>
                                            <option value="student">Student</option>
                                            <option value="professor">Professor</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-primary d-flex align-items-center js-assign-users-to-course">
                                    <i class="fa-solid fa-file-pen me-2"></i><div>Assign to course</div>
                                </button>
                            </div>
                        </div>
                       
                        <div>
                            <h4>Assign Users to Program</h4>
                            <div class="d-flex mb-2">
                                <div class="d-flex flex-column me-2">
                                    <span class="mb-2">Select program: </span>
                                    <div class="js-dd-programs">
                                        <select class="form-select d-flex align-items-center cursor-pointer js-program-dd-selected-value me-2" id="programDropdown" aria-expanded="false">
                                            <option> </option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-primary d-flex align-items-center js-assign-users-to-program">
                                    <i class="fa-solid fa-file-pen me-2"></i><div>Assign to program</div>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    
                    <hr>
                    <h4>All Users</h4>
                    <table class="table table-striped" id="usersTable">
                    </table>
                </div>
                
                
            </div>
            
        </div>

        <div class="col all-courses-tab d-none">
            <h1>All Courses</h1>
            <table class="table table-striped" id="coursesTable">
            </table>
        </div>

        <div class="col all-programs-tab programs-table d-none">
            <h2>All Programs</h2>
            <div class="d-flex justify-content-end mb-2">
                <div class="d-flex flex-column me-2">
                    <span class="mb-2">Select course: </span>
                    <div class="js-dd-courses">
                        <select class="form-select d-flex align-items-center cursor-pointer js-course-dd-selected-value me-2" aria-expanded="false">
                            <option> </option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary d-flex align-items-center js-assign-programms-to-course">
                    <i class="fa-solid fa-file-pen me-2"></i><div>Assign to course</div>
                </button>
            </div>
            <table class="table table-striped" id="programsTable">
            </table>
        </div>

        <div class="course-manager col d-none">
            <h1 class="authentication-page__heading">Course manager</h1>
            <h5 class="authentication-page__message"></h5>
            <div class="d-flex">
                
                <form id="createCourse" class="me-4">
                    <h3>Add Course</h3>
                    <partial name="Partials/_CourseForm" />
                    <button type="button" class="btn btn-primary w-100 js-add-course">Add Course</button>
                    <div class="error-message"></div>
                </form>
                
                <form id="editCourse" class="me-4">
                    <h3>Edit Course</h3>
                    <div class="form__input-container mb-2">
                        <label for="id">Course Id</label>
                        <input type="number" id="id" name="id" class="form__input form-control" placeholder="Enter course id">
                    </div>
                    <partial name="Partials/_CourseForm" />
                    <button type="button" class="btn btn-primary w-100 js-edit-course">Edit Course</button>
                    <div class="error-message"></div>
                </form>

                <form id="deleteCourse" class="">
                    <h3>Delete Course</h3>
                    <div class="form__input-container mb-2">
                        <label for="id">Course Id</label>
                        <input type="number" id="id" name="id" class="form__input form-control" placeholder="Enter course id">
                    </div>
                    <button type="button" class="btn btn-danger js-delete-course">Delete Course</button>
                    <div class="error-message"></div>
                </form>
            </div>
            
        </div>

        <div class="program-manager col d-none">
            <h1 class="authentication-page__heading">Program manager</h1>
            <h5 class="authentication-page__message"></h5>
            <div class="d-flex">
                <form id="createProgram" class="me-4">
                    <h3>Add Program</h3>
                    <partial name="Partials/_ProgramForm" />
                    <button type="button" class="btn btn-primary w-100 js-add-program">Add Program</button>
                    <div class="error-message"></div>
                </form>
                <form id="editProgram" class="me-4">
                    <h3>Edit Program</h3>
                    <div class="form__input-container mb-2">
                        <label for="id">Program Id</label>
                        <input type="number" id="id" name="id" class="form__input form-control" placeholder="Enter program id">
                    </div>
                    <partial name="Partials/_ProgramForm" />
                    <button type="button" class="btn btn-primary w-100 js-edit-program">Edit Program</button>
                    <div class="error-message"></div>
                </form>
                <form id="deleteProgram" class="">
                    <h3>Delete Program</h3>
                    <div class="form__input-container mb-2">
                        <label for="id">Program Id</label>
                        <input type="number" id="id" name="id" class="form__input form-control" placeholder="Enter program id">
                    </div>
                    <button type="button" class="btn btn-danger js-delete-program w-100">Delete Program</button>
                    <div class="error-message"></div>
                </form>
            </div>
           
        </div>
    </div>


</div>

<script type="module" src="~/js/dist/site.js" asp-append-version="true"></script>
<script type="module" src="~/js/dist/pages/admin/admin.js" asp-append-version="true"></script>

