@{
    ViewData["Title"] = "Assignments";
}

<div class="container-fluid">
    <div class="row">
        <partial name="../Course/Partials/_CourseNav" />
        <div class="col-sm p-0 min-vh-100">
            <div class="container mb-4">
                <div id="student-assignment-list" class="mb-5"></div>
                <div id="professor-assignment-list"></div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="~/js/dist/pages/assignments/assignments.js" asp-append-version="true"></script>