@using AcademicFlow.Managers.Contracts.IManagers
@inject IUserCredentialsManager _userCredentialsManager
@{
    var secret = Context.Request.Query["secretKey"];
    if(string.IsNullOrWhiteSpace(secret))
        throw new Exception("Secret is null");

    var user = await _userCredentialsManager.GetUserBySecretKey(secret!);
    if (user == null)
        throw new Exception("Secret is incorrect");

    ViewData["Title"] = "User Registration";
}
<h1 >@user.Name @user.Surname, please enter new password</h1>
<div class="register-container col-4 align-self-center">
    <h1 class="authentication-page__heading">Password reset</h1>
    <h5 class="authentication-page__message">Enter new password, and please never lose or forget it again</h5>
    <form id="registerForm" class="">
        <div class="form__input-container mb-2" hidden>
            <input type="text" id="secretKey" name="secretKey" class="form__input form-control" aria-label="secretKey" value="@secret"><i class="fa-solid fa-user"></i>
        </div>
        <div class="form__input-container mb-2">
            <label for="password">Password</label>
            <div class="input-wrapper">
                <input type="password" id="password" name="password" class="form__input form-control" placeholder="Password" aria-label="Password">
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg w-100 js-register-user"><i class="fa-solid fa-right-to-bracket"></i><span> Sign up</span></button>
        <div class="user-registration-message"></div>
    </form>
</div>


<script type="module" src="~/js/dist/pages/registration/registration.js" asp-append-version="true"></script>