<div class="form__input-container mb-2">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form__input form-control" placeholder="Enter course name">
</div>
<div class="form__input-container mb-2">
    <label for="description">Description</label>
    <textarea id="description" name="description" class="form__input form-control" placeholder="Enter course description"></textarea>
</div>
<div class="form__input-container mb-2">
    <label for="creditPoints">Credit Points</label>
    <input type="number" id="creditPoints" name="creditPoints" class="form__input form-control" placeholder="Enter course credit points">
</div>