<div class="form__input-container mb-2">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form__input form-control" placeholder="Enter program name">
</div>
<div class="form__input-container mb-2">
    <label for="semesterNr">Semester Number</label>
    <input type="number" id="semesterNr" name="semesterNr" class="form__input form-control" placeholder="Enter program number">
</div>