<div class="form__input-container mb-2">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form__input form-control" placeholder="Enter program name">
</div>
<div class="form__input-container mb-2">
    <label for="semestrNr">Semester Number</label>
    <textarea id="semestrNr" name="description" class="form__input form-control" placeholder="Enter program number"></textarea>
</div>