<div class="form__input-container mb-2">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form__input form-control form-outline" placeholder="Name" aria-label="name" required>
</div>
<div class="form__input-container mb-2">
    <label for="surname">Surname</label>
    <input type="text" id="surname" name="surname" class="form__input form-control" placeholder="Surname" aria-label="surname" required>
</div>
<div class="form__input-container mb-2">
    <label for="personalCode">Personal Code</label>
    <input type="text" id="personalCode" name="personalCode" class="form__input form-control" placeholder="Personal Code" aria-label="personalCode" required>
</div>
<div class="form__input-container mb-2">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form__input form-control" placeholder="Email" aria-label="email">
</div>
<div class="form__input-container mb-2">
    <label for="phoneNumber">Phone Number</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" class="form__input form-control" placeholder="Phone number" aria-label="phoneNumber">
</div>
<div class="form__input-container mb-2">
    <label for="age">Age</label>
    <input type="number" id="age" name="age" class="form__input form-control" placeholder="Age" aria-label="age">
</div>